[logstash-{{ logstash_major_version }}]
name=Elasticsearch repository for {{ logstash_major_version }} packages
baseurl=https://artifacts.elastic.co/packages/{{ logstash_major_version }}/yum
gpgcheck=1
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
autorefresh=1
type=rpm-md
{% if logstash_proxy_host is defined and logstash_proxy_host != '' and logstash_proxy_port is defined %}
proxy=http://{{ logstash_proxy_host }}:{{logstash_proxy_port}}
{% endif %}
